html,
body {
    height: 100%;
}

.chat-container {
    margin: 0px;
    padding: 5px;
}

.chat-message {
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.bot-message {
    background: #eee;
    border-radius: 5px;
}

/* .human-message {
    background: #eee;
    border-radius: 5px;
} */

.human-message {
    font-size: 24px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding-left: 10px;
    color: #aaa;
}

.input {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color:#FFFFFF;
    height:auto;
    width:100%;
    margin-left:0px;
    margin-right:0px;
}
