body,html {
    height: 100%;
}

.chat-container {
    margin: 0px;
    padding: px;
}

.chat-message {
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 3px;
}

.bot-message {
    background: #eee;
    margin: 13px 1px;   
}

.human-message {
    background:dodgerblue;
    color: white;
    border-radius: 5px;
}

.input {
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color:#FFFFFF;
    height:auto;
    width:100%;
    margin-left:0px;
    margin-right:0px;
}